.profileSection {
  width: inherit;
  height: inherit;
  display: flex;
  gap: 20px;
}
.leftUserProfile {
  flex: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.leftUserProfile input,
.leftUserProfile button {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--text-soft);
  width: 200px;
}
.rightProfile {
  background: var(--bg-soft);
  flex: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.prevImg {
  width: 200px;
  height: 200px;
  border: 1px solid var(--text-soft);
  object-fit: cover;
  border-radius: 20px;
}
